// app global css in SCSS form
.pageContainer {
  background-color: $blue-grey-3;
  overflow: scroll;
}

.routerDrawer {
  color: white;
}

.infoContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 0.5rem;
  border-radius: 0.25rem;
  overflow-y: scroll;
  .title {
    color: white;
    display: block;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .body {
    background-color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    // ???? WHY DO I NEED THIS
    height: 300px;
    flex-grow: 1;
    overflow-y: scroll;
  }
}

.hover-bg-color:hover {
  background-color: $blue-grey-1;
}
